:root{
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-purple: #3600ff;
  --color-magenta: #7c00ff;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: var(--color-white);
  }
  
  ul {
    list-style-type: none;
  }
  
  header {
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: var(--color-white);
    padding: 0 10vw;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: var(--color-black);
  }
  
  header .wraper {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .wraper .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .wraper .navbar ul li {
    margin: 0.5rem 1rem;
    position: relative;
  }
  
  header .wraper .navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    padding: 0.7rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;

  }
  
  header .wraper .navbar ul li:hover a {
    background-color: var(--color-purple);
    color: var(--color-white);
  }
  
  header .wraper .navbar ul li:last-child {
    margin: 0.5rem 0 0.5rem 1rem;
  }
  
  header .wraper .navbar ul .active-link {
    color: var(--color-black);
    font-weight: 900;
    background-color: var(--color-white);
  }
  
  header .wraper .mobil-menu {
    display: none;
  }   
  
  .header.haeder-dark .navbar ul li a {
    color: var(--color-white);
  }
  
  .header.haeder-dark .navbar ul li a.active-link {
    color: var(--color-white);
  }
  
  section {
    height: 100vh;
  }
  
  .main-section {
    background: var(--color-purple);
    background: linear-gradient(45deg, var(--color-purple) 9%, var(--color-magenta) 100%);   
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    flex-direction: column;
    color: var(--color-white);
  }
  
  .title .letter {
    display: inline-block;
    line-height: 1em;
    font-family: 'Bebas Neue', sans-serif !important;
  }

  .subtitle {
    font-size: 2em;
    font-weight: 200;
    color: var(--color-white);
    margin-top: 1em;
    opacity: 0;
    animation: fade-in-animation 1s 0.5s ease-in forwards;
  }

  .about-us{
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: var(--color-black);
  }
  .pic{
    height: auto;
    width:  302px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
  }
  .hire{
    font-size: 18px;
    background: var(--color-purple);
    color: var(--color-white);
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
    font-weight: 600;
  }
  .hire:hover{
    background: var(--color-white);
    color: var(--color-purple);
    border: 1px solid var(--color-magenta);
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .main-section h1 {
    font-size: 120px;
    letter-spacing: 20px;
    font-weight: 100;
    margin-bottom: -30px;
  }
  
  .main-section p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  
  @media screen and (max-width: 500px) {
    header .wraper .navbar {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 8;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.4s ease;
      transition: -webkit-transform 0.4s ease;
      transition: transform 0.4s ease;
      transition: transform 0.4s ease, -webkit-transform 0.4s ease;
      height: 100vh;
      color: var(--color-purple);
      width: 100vw;
    }
    header .wraper .navbar ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 80%;
      background-color: var(--color-black);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 100px;
      z-index: 9;
    }
    header .wraper .navbar ul li {
      margin: 1.5rem;
    }
    header .wraper .navbar ul li a {
      font-size: 1.3rem;
    }
    header .wraper .navbar-links__togle {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    header .wraper .mobil-menu {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 9;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      width: 40px;
      height: 45px;
    }
    header .wraper .mobil-menu span {
      position: absolute;
      display: block;
      height: 4px;
      width: 100%;
      left: 0;
      background-color: var(--color-white);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
      border-radius: 10px;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
    header .wraper .mobil-menu span:nth-child(1) {
      top: 0px;
    }
    header .wraper .mobil-menu span:nth-child(2) {
      top: 10px;
    }
    header .wraper .mobil-menu span:nth-child(3) {
      top: 20px;
    }
    header .wraper .mobil-menu.open span:nth-child(1) {
      top: 20px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    header .wraper .mobil-menu.open span:nth-child(2) {
      top: 20px;
      opacity: 0;
      left: -60px;
    }
    header .wraper .mobil-menu.open span:nth-child(3) {
      top: 20px;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
    }
    .main-section h1 {
      font-size: 3rem;
    }
  }